/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  font-family: 'Noto Sans', sans-serif; }

body {
  background-color: #e5f1e3; }

main {
  position: fixed;
  height: 100vh;
  width: 70vw;
  margin-left: 15vw; }

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1; }

h1 {
  margin-top: 30px;
  font-size: 68px;
  text-align: center; }

main section {
  width: 90%;
  margin: 2.5vh 5%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.fighters {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.player1, .player2 {
  height: 320px;
  width: 245px;
  border-radius: 15px;
  border: 1px dashed black; }

.fighters {
  text-align: center; }
  .fighters div h2 {
    margin: 5px 0; }
  .fighters div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%; }
    .fighters div div .posters {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%; }
      .fighters div div .posters div {
        border-radius: 10px;
        background-color: #529471; }
      .fighters div div .posters div:hover {
        opacity: 0.75; }

#printout {
  background-color: black;
  overflow-y: scroll;
  height: 30vh;
  width: 60vw;
  margin: 0 auto; }
  #printout p {
    color: green;
    font-family: courier;
    font-size: 14px; }

button {
  height: 30px;
  width: 100px;
  margin: 0 auto; }

.active {
  width: 17vw;
  height: 17vh;
  border-radius: 15px;
  background-color: blue;
  align-self: flex-end;
  bottom: 20vh;
  position: relative; }
  .active div .poster {
    display: inline-block; }

.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.bench {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  width: 20vw; }
  .bench h5 {
    font-size: 40px; }
  .bench div {
    width: 150px;
    height: 200px;
    background-color: #a3cd93;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .bench .posters {
    display: none; }
  .bench [class^="attack"] {
    display: none; }
  .bench h3 {
    font-size: 18px; }

.input {
  background-color: #35635b;
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px; }
  .input p {
    color: white;
    font-size: 30px; }
  .input div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    .input div h4, .input div p {
      color: white;
      font-size: 30px;
      margin: 0 20px;
      text-align: center; }

.turn {
  border-radius: 15px;
  position: relative; }

.turn div, .turn h3 {
  z-index: 2; }

.turn::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #a3cd93;
  opacity: .5;
  border-radius: 15px;
  z-index: 0; }

.hidden {
  display: none; }

.gu-mirror .posters {
  display: none; }
  .gu-mirror .posters [class^="attack"] {
    display: none; }

.fainted {
  opacity: .5; }

input {
  font-size: 24px;
  height: 30px;
  width: 160px; }

footer {
  position: fixed;
  height: 40px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center; }
  footer p {
    margin: 0 10px; }

/*# sourceMappingURL=app.css.map */
