@import 'reset';


$actor-width: 200px;
$actor-height: 120px;
$actor-background: grey;
$actor-border: 15px;

main{
  display: flex;
  flex-direction: row;
}

canvas{
  height: 300px;
  width: 300px;
  background-color: black;
}

section{
  display: flex;
  flex-direction: column;
  width: $actor-width / 4 + $actor-width;
  height: auto;
}

div{
  width: $actor-width;
  height: $actor-height;
  background-color: $actor-background;
  border-radius: $actor-border;
}
