/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  font-family: 'Noto Sans', sans-serif; }

body {
  background-color: #e5f1e3; }

main {
  position: fixed;
  height: 100vh;
  width: 70vw;
  margin-left: 15vw; }

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1; }

h1 {
  margin-top: 30px;
  font-size: 68px;
  text-align: center; }

main section {
  width: 90%;
  margin: 2.5vh 5%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.active {
  width: 17vw;
  height: 17vh;
  border-radius: 15px;
  background-color: blue;
  align-self: flex-end;
  bottom: 20vh;
  position: relative; }
  .active div .poster {
    display: inline-block; }

.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.bench .characters {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  width: 20vw; }
  .bench .characters div {
    width: 150px;
    height: 200px;
    background-color: #a3cd93;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .bench .characters .posters {
    display: none; }
  .bench .characters [class^="attack"] {
    display: none; }
.bench h5 {
  font-size: 40px; }
.bench h3 {
  font-size: 18px; }

.input {
  background-color: #35635b;
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px; }
  .input p {
    color: white;
    font-size: 30px; }
  .input div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    .input div h4, .input div p {
      color: white;
      font-size: 30px;
      margin: 0 20px;
      text-align: center; }

.turn {
  border-radius: 15px;
  position: relative; }

.turn div, .turn h3 {
  z-index: 2; }

.turn::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #a3cd93;
  opacity: .5;
  border-radius: 15px;
  z-index: 0; }

.gu-mirror [class^="attack"] {
  display: none; }

.fainted {
  opacity: .5; }

input {
  font-size: 24px;
  height: 30px;
  width: 160px; }

footer {
  position: fixed;
  height: 40px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center; }
  footer p {
    margin: 0 10px; }

.display {
  width: 450px;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .display p {
    color: green;
    font-family: courier;
    text-align: center;
    font-size: 30px; }

button {
  margin: 30px 0;
  height: 50px;
  width: 100px;
  background-color: #35635b;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  box-shadow: 2px 2px 1px 1px rgba(165, 172, 177, 0.75); }

button:hover {
  box-shadow: inset 2px 2px 1px 1px rgba(165, 172, 177, 0.75);
  background-color: white;
  border: 2px solid #35635b;
  color: #35635b; }

input {
  margin: 30px 0;
  height: 40px;
  width: 250px;
  font-size: 18px; }

#next {
  position: fixed;
  top: 40px;
  left: 40px; }

.fighters {
  display: none;
  align-items: center; }

.fighters > p {
  align-self: stretch; }

[class^='player'] {
  margin: 10px;
  width: 300px;
  height: 200px;
  border: 2px dashed black;
  box-shadow: inset 2px 2px rgba(165, 172, 177, 0.75);
  background-color: none;
  position: relative;
  border-radius: 15px; }
  [class^='player'] img {
    float: left;
    margin: 10px; }
  [class^='player'] h4 {
    margin: 5px;
    font-size: 16px; }

[class^="attack"] {
  border-radius: 15px;
  background-image: linear-gradient(#e5f1e3, #a5acb1);
  float: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 0;
  height: 80px;
  width: 150px; }
  [class^="attack"] h4 {
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 24px; }
  [class^="attack"] img {
    float: none; }

[class^="attack"]:hover {
  background-image: linear-gradient(#a5acb1, #e5f1e3); }

.removeBackground {
  background: none; }

.removeBackground:hover {
  background: none; }

.offButton, .offButton:hover {
  background-color: grey;
  color: dimgrey;
  box-shadow: none;
  border: none; }

.gameOver {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .gameOver h4 {
    font-size: 100px;
    text-align: center;
    color: white; }
  .gameOver h5 {
    text-align: center;
    font-size: 50px;
    color: white; }

.restartChoice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .restartChoice a {
    color: white;
    text-decoration: none; }
  .restartChoice a:hover {
    color: #35635b; }

.gameOver * {
  z-index: 2; }

.gameOver::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.85;
  z-index: 1;
  background-color: grey; }

.gameStart {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1; }
  .gameStart h4 {
    font-size: 100px;
    text-align: center;
    color: white; }
  .gameStart h5 {
    text-align: center;
    font-size: 20px;
    color: white; }
  .gameStart p {
    width: 50%;
    color: white;
    margin: 10px;
    text-align: center; }

.beginChoice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.gameStart * {
  z-index: 2; }

.gameStart::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.95;
  z-index: 1;
  background-color: grey; }

.hidden {
  display: none; }

/*# sourceMappingURL=app.css.map */
